.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;

    @media (max-width: 860px){
        grid-template-columns: auto;
        grid-template-rows: 100px 100px;
    }

    margin-top: 10px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__part-of-item{
        display: flex;        
        flex-direction: column;
        align-items: center;
    }

    &__input{
        width: 300px;
    }

    &__input-button{
        margin-top: 10px;
        width: 200px;
    }
}